node_modules
dist
.vitest
.vitest-attachments/
*.log
.trae/
server.js
.agents/
js-framework-benchmark/
temp
*.vsix
scratch/
my-app/
*.tgz
*.env
prompts/
__screenshots__/
process-images/
html/
test-results/
coverage/
*.zip
packages/vscode-plugin/assets/
devtool/public/assets/
docs/public/assets/